// Fonts

$default-font: "Formular", sans-serif;
$anonymous-pro: 'Anonymous Pro', monospace;

// Effects

$transition: all .3s ease;

// Colors

$accent: #383838;
$text: #000000;
$white: #ffffff;
$color-hover: #383838;
$color-border: #F2F2F2;
$border-input: #F5F5F5;

// Responsive size

$big: 1440px;
$laptop: 1200px;
$tablet: 1024px;
$small: 767px;
$phone: 500px;
$extra-small: 374px;
