@import "vars";
@import "fonts";
@import "libs";
@import "common";

.container-reg{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  @media(max-width: 844px){
    justify-content: center;
  }
}
.cr-column{
  width: 50%;
  img{
    width: 100%;
  }
  @media(max-width: 844px){
    width: 100%;
    max-width: 400px;
    &:first-child{
      display: none;
    }
    &:last-child{
      padding-right: 50px;
      border-left: 1px solid #F5F5F5;
    }
  }
  &:last-child{
    border-top: 1px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
  }
  label{
    font-size: 12px;
    line-height: 15px;
    display: block;
    margin-bottom: 20px;
    input{
      display: block;
      border: 0;
      width: 19px;
      border-bottom: 1px solid #000;
      margin-top: 17px;
      transition: .2s all;
      &:focus{
        width: 300px;
        @media(max-width: 400px){
          width: 100%;
        }
      }
    }
  }
  button{
    font-size: 12px;
    line-height: 15px;
    background: none;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin-top: 50px;
  }
}

.arr-right{
  width: 20px;
  height: 10px;
  background-image: url(../img/icons/arr-right.svg);
  margin-left: 24px;
  background-size: 100%;
}