.catalog{
  position: relative;
  @media(max-width: $small){
    .page__logo{
      display: none;
    }
  }
  &__category-title{
    padding: 19px 15px;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    color: $text;
    margin-bottom: 0;
    text-align: center;
  }
  &__in{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 1280px;
    margin: 0 auto;
    @media(max-width: $small){
      grid-template-columns: repeat(2,1fr);
    }
    @media(max-width: $phone){
      display: none;
    }
  }
  &__in-mobile{
    @media(min-width: $phone){
      display: none;
    }
  }
  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    position: relative;
    border: .5px solid $white;
    background-color: $color-border;
    text-decoration: none;
    @media(max-width: $phone){
      height: 562px;
    }
    img{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .price__line{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 13px 6px;
    display: flex;
    justify-content: space-between;
    line-height: 1;
    font-weight: 400;
    font-size: 12px;
    color: $text;
    font-family: $anonymous-pro;
  }
  .old-price{
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    color: #90939B;
    text-decoration-line: line-through;
  }
  .new-price{
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__mobile-item{
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
    &:hover{
      .catalog__mobile-item-bottom{
        background-color: $text;
        color: $white;
      }
    }
  }
  &__mobile-item-img{
    position: relative;
    .img{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 562px;
      img{
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__mobile-color{
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    z-index: 3;
    pointer-events: none;
    span{
      display: block;
      width: 24px;
      height: 24px;
      display: block;
      background-color: $white;
      &.black{
        background-color: $text;
      }
      &.white{
        background-color: $white;
      }
    }
  }
  &__mobile-item-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 30px;
    transition: $transition;
    span{
      font-size: 12px;
      display: block;
      &:first-child{
        width: 70%;
      }
      &:last-child{
        width: 30%;
        text-align: right;
      }
    }
  }

  .swiper-product-paggination{
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    .swiper-pagination-bullet{
      width: 24px;
      height: 2px;
      background-color: $white;
      transition: $transition;
      border-radius: 0;
      opacity: 1;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active{
      background-color: $text;
    }
  }
}