.footer{
  padding: 16px 0;
  &__in{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__copy{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin-inline-end: 20px;
    min-width: 140px;
  }
  ul{
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    list-style-type: none;
    li{
      margin-inline-end: 20px;
      &:last-child{
        margin-inline-end: 0;
      }
    }
    a{
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
    }
  }
}