.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: $white;
  &__search-line{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 49px;
    opacity: 0;
    visibility: hidden;
    z-index: -999;
    pointer-events: none;
    transition: all .1s linear;
    &.active{
      z-index: 10;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
       .header__search-form{
        transform: translateX(0);
       }
    }
  }
  &__search-form{
    margin-inline-end: 200px;
    position: relative;
    width: 200px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 15px 10px;
    background-color: $white;
    transform: translateX(-20px);
    transition: $transition;
    label{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      border-left: 1px solid $color-border;
      border-right: 1px solid $color-border;
      z-index: 0;
      transition: $transition;
    }
   
    input{
      border: none;
      border-bottom: 1px solid $color-border;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      width: 100%;
      display: block;
      padding-right: 60px;
      position: relative;
      transition: $transition;
      &::placeholder{
        color: $color-border;
      }
    }
    input:focus,input:not(:placeholder-shown),input:not(:empty){
      border-color: $text;
    }
    input:focus+label, 
    input:not(:placeholder-shown)+label, 
    input:not(:empty)+label{
      border-color: $text;
    }
    .cancel-search{
      position: absolute;
      display: block;
      right: 10px;
      top: 50%;
      transform: translate(0%,-50%);
    }
  }
  &__mobile-left{
    display: none;
    align-items: center;
    img{
      width: 100%;
      max-width: 54px;
    }
    @media(max-width: $small){
      display: flex;
    }
  }
  &__mobile-right{
    display: none;
    align-items: center;
    @media(max-width: $small){
      display: flex;
    }
  }
  .burger-btn{
    display: block;
    position: relative;
    text-decoration: none;
    width: 16px;
    height: 12px;
    span{
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 2px;
      background-color: $text;
      &:nth-child(2){
        top: 50%;
        transform: translateY(-50%);
      }
      &:last-child{
        top: auto;
        bottom: 0;
      }
    }
  }
  &__in{
    padding: 11px 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    max-width: 1270px;
  }
  &__left{
    display: flex;
    align-items: center;
    @media(max-width: $small){
      display: none;
    }
  }
  &__right{
    display: flex;
    align-items: center;
    @media(max-width: $small){
      display: none;
    }
  }
  a{
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
  }
  nav > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    li{
      margin-inline-end: 20px;
      line-height: 1;
      transition: $transition;
      border-bottom: 1px solid transparent;
      &.active{
        border-bottom: 1px solid $text;
      }
      &:last-child{
        margin-inline-end: 0px;
      }
      &:hover{
        border-bottom: 1px solid $text;
        .sub-menu{
          display: flex;
          opacity: 1;
          visibility: visible;
        }
      }
    }
    * > ul {
      display: flex;
      flex-wrap: wrap;
      background-color: $white;
      padding: 16px 20px;
      padding-top: 32px;
      width: 100%;
      list-style-type: none;
      opacity: 0;
      visibility: hidden;
      transition: $transition;
      position: absolute;
      left: 0;
      top: calc(101% - 16px);
    }
  }
  &__search{
    margin-inline-end: 20px;
  }
  &__account{
    margin-inline-end: 20px;
  }
  &__basket{
    margin-inline-end: 20px;
  }
  &__like{
    margin-inline-end: 20px;
  }
  .like-btn{
    &.liked{
      svg{
        path{
          fill: $text;
        }
      }
    }
  }
  .mobile__menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: flex-start;
    opacity: 0;
    pointer-events: none;
    z-index: 0;
    visibility: hidden;
    transition: all .5s ease;
    @media(max-width:$small){
      &.active{
        opacity: 1;
        z-index: 100;
        pointer-events: all;
        visibility: visible;
      }
    }
    &-top-lang{
      width: 100px;
      display: flex;
      justify-content: space-between;
    }
    &-in{
      margin: 0 auto;
      max-width: 600px;
      width: 100%;
      height: 100%;
    }
    &-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 21px 24px;
      border-bottom: 1px solid $color-border;
    }
    &-middle{
      display: flex;
      justify-content: space-between;
      padding: 19px 24px;
      align-items: center;
      border-bottom: 1px solid $color-border;
    }
    &-type-top{
      ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid $color-border;
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      li{
        display: block;
        width: 50%;  
        text-align: center;
        border-right: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
        &:nth-child(3n + 1){
          width: 100%;
        }
      }
      li > a{
        padding: 19px 24px;
        display: block;
        width: 100%;
        text-align: center;
      }
      .sub-menu{
        display: none;
      }
    }
    &-default.hidden{
      display: none;
    }
    &-secondary{
      display: none;
      position: relative;
      &.active{
        display: block;
      }
    }
    .rall-back{
      position: absolute;
      left: 50%;
      top: 20px;
      outline: none!important;
      border: none;
      appearance: none!important;
      background-color: transparent;
      padding: 0;
      margin: 0;
      transform: translateX(-50%);
      cursor: pointer;
    }
    &-child{
      padding: 100px 24px;
      text-align: center;
      ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        li{
          margin-bottom: 30px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
    &-copy-container{
      ul{
        display: none;
        &.active{
          display: block;
        }
      }
    }
  }
  .close-burger{
    display: block;
    position: relative;
    width: 12px;
    height: 12px;
    span{
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%) rotate(-45deg);
      width: 100%;
      height: 2px;
      background-color: $text;
      &:last-child{
        transform: translate(-50%,-50%) rotate(45deg);
      }
    }
  }
  &__mobile-box{
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @media(max-width: $small){
      display: flex;
    }
  }
  .basket-btn{
    position: relative;
    span{
      position: absolute;
      right: -5px;
      top: -5px;
      width: 17px;
      height: 17px;
      background-color: $white;
      border-radius: 50%;
      border: 1px solid $text;
      color: $text;
      font-size: 8px;
      line-height: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      pointer-events: none;
    }
  }
}